* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-content {
  color:beige;
  background-color: #222;
}
#root{
  position: relative;
}


@keyframes moon {
  0%{
    transform:translateY(-100%)
  }
  75%{
    transform: translateY(20%);

  }
  100%{
    transform: translateY(0) rotate(-45deg);
    
  }
  
}
@keyframes sun {
  0%{
    width: 0;
    
    
  }
  
  100%{
    width: 6px;
    ;
    
  }
  
}